apiVersion: v1
kind: Service
metadata:
  name: users-api
  labels:
    app: users-api
spec:
  type: ClusterIP
  selector:
    app: users-api
  ports:
    - name: http
      port: 8000
      targetPort: http